html,body{
    margin: 0;
    padding: 0;
}
a,p,h4,ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
img{
    display: block;
    border: none;
}
/* #app_body{
    max-width: 1920px;
    min-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 微软雅黑;
} */