.ecological_content_content_box_right{
    font-size: 14px;
    color: #333;
    line-height: 35px;
}
.ecological_union_introduced_p{
    margin-top: -11px;
}

.content_journalism_lists {
	padding-top: 0;
}

