.ecological_partnership_content_box{
    width: 280px;
    height: 170px;
    float: left;
    margin-right: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 54px;
}
.ecological_partnership_content_box:nth-of-type(3n){
    margin-right: 0;
}
.ecological_partnership_content_img{
    margin: 0 auto;
    width: 66px;
    height: 68px;
}
.num_ber{
    font-size: 24px;
    margin: 13px 0 15px;
}
.ecological_partnership_content_p{
    text-align: center;
    line-height: 25px;
}
.ecological_partnership_content{
    margin-top: 40px;
}
.ecological_partnership_content::after{
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}