.ecological_content_content_box_right {
	width: 100%;
}

.ecological_content_content_box li {
	float: left;
	width: 560px;
	text-align: center;
	padding: 58px 0;
	height: 200px;
}

.ecological_content_content_box li img {
	display: inline-block;
}

.ecological_content_content_box li p {
	width: 450px;
	margin: 0 auto;
	font-size: 14px;
	color: #333;
	line-height: 30px;
	padding-top: 30px;
}

.ecological_content_content_box .lis {
	background: #f4f4f4;

}

.ecological_content_content_box_right h2 {
	font-size: 24px;
	height: 24px;
	line-height: 24px;
	color: #ec282e;
	margin-bottom: 26px;

}

.ecological_content_content_box_right h3 {
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	color: #333;
	
}

.ecological_content_content_box {
	padding-bottom: 108px;
}

.ecological_content_content_box_right {
	margin-bottom: 35px;
}

