.content_left{
    width: 765px;
}
.journalism_detail_content{
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.journalism_detail_title{
    padding-top: 20px;
    border-bottom: 1px solid #e8e8e8;
}
.journalism_detail_title_h4{
    font-size: 24px;
    color: #333;
    padding-bottom: 12px;
}
.journalism_detail_title_div{
    padding-bottom: 26px;
    overflow: hidden;
}
.journalism_detail_title_span{
    font-size: 14px;
    color: #888888;
}
.journalism_detail_title_span:nth-of-type(1){
    margin-right: 12px;
}
.journalism_detail_title_span:nth-of-type(2),.journalism_detail_title_span:nth-of-type(3){
    margin-right: 32px;
}
.journalism_detail_title_span1{
    color: #ec282e;
}
.journalism_detail_content_zhaiyao{
    width: 723px;
    height: 58px;
    padding: 16px 20px 16px 22px;
    font-size: 14px;
    color: #888;
    line-height: 30px;
    background: #f8f8f8;
    margin-top: 30px;
}
.journalism_detail_content_p1{
    margin: 13px 0 25px;
}
.journalism_detail_content_img{
    width: 100%;
}
.journalism_detail_content_h4{
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 5px 0 20px;
}
.journalism_detail_content_p2{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.journalism_detail_content_Ch4{
    font-size: 16px;
    color: #ec282e;
    margin: 15px 0;
    text-align: center;
}
.journalism_detail_content_p5{
    margin-bottom: 32px;
}
.journalism_detail_content_Bh4{
    color: #333;
}
.journalism_detail_bottom{
    width: 100%;
    height: 36px;
    padding: 20px 0 50px;
    border-top: 1px solid #e8e8e8;
}
.journalism_detail_bottom_left{
    float: left;
}
.journalism_detail_bottom_right{
    float: right;
}
.iconfont_span{
    font-size: 32px;
    color: #cecece;
    margin-left: 16px;
}
.iconfont_span1{
    font-size: 35px;
}
.iconfont_span:hover{
    color: #ec282e;
}
.journalism_detail_page{
    width: 100%;
    height: 58px;
    background: #f2f2f2;
}
.journalism_detail_page1{
    margin-bottom: 15px;
}
.journalism_detail_page_name{
    float: left;
    margin: 16px 0 0 26px;
    font-size: 16px;
    color: #333;
}
.journalism_detail_page_img{
    float: right;
    margin: 16px 26px 0 0;
    font-size: 20px;
    color: #bdbdbd;
}
.journalism_detail_page:hover{
    background: #ec282e;
}
.journalism_detail_page:hover .journalism_detail_page_name{
    color: #fff;
}
.journalism_detail_page:hover .journalism_detail_page_img{
    color: #fff;
}
