.content{
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 1200px;
    background: url("../../img/journalism/journalism_bj_01.png") no-repeat top center;
}
.content::after{
    clear:both;
    content:'';
    display:block;
    width:0;
    height:0;
    visibility:hidden;
}
.content_content{
    width: 1200px;
    margin: 402px auto 0;
    background: #fff;
}
/* 左侧 */
.content_left{
    width: 738px;
    float: left;
    padding: 20px 92px 0 40px;
    background: #fff;
}
.content_journalism_list{
    width: 100%;
    height: 155px;
    padding: 28px 0;
    border-bottom: 1px solid #e7e7e7; 
    cursor: pointer;
}
.content_journalism_list:hover .content_journalism_txt_p1{
    color: #ec282e;
}
.content_journalism_txt_p1::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.content_journalism_txt_p1_left{
    float: left;
    width: 330px;
}
.content_journalism_txt_p1_right{
    float: right;
    width: 92px;
    height: 40px;
    border-radius: 40px;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 10px;
}
.content_journalism_txt_p1_right_img{
    width: 14px;
    height: 14px;
    vertical-align: middle;
    position: absolute;
    right: 13px;
    top: 11px;
}
.content_journalism_txt_p1_right_span{
    margin-left: -15px;
}
.journalism_img_box{
    width: 257px;
    height: 155px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
/*播放按钮*/
.journalism_img_box_play{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    overflow: hidden;
}
.journalism_img_box_play_img{
    width: 100%;
    height: 100%;
}
.content_journalism_img{
    width: 257px;
    height: 155px;
    transition: all .2s;
}
.content_journalism_list:hover .content_journalism_img{
    width: 277px;
    height: 171px;
    margin: -8px 0 0 -10px;
}
.content_journalism_txt{
    float: left;
    padding-left: 30px;
    width: 450px;
    height: 100%;
}

.content_journalism_txt_p1{
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    color: #333;
    height: 55px;
    line-height: 30px;
    margin-top: -6px;
}
.journalism_background_zhibo{
    background: #ec282e;
}
.journalism_background_yugao{
    background: #f68119;
}
.journalism_background_huikan{
    background: #d0b39a;
}
.content_journalism_txt_p2{
    width: 100%;
    height: 42px;
    margin: 22px 0 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 13px;
    color: #666;
    line-height: 22px;
}
.content_journalism_txt_p3{
    font-size: 14px;
    color: #999;
}
.content_journalism_txt_p3_span{
    color: #108ee9;
    margin-right: 2px;
}
.content_journalism_txt_p3_span1{
    margin-left: 2px;
}
.content_see_more{
    width: 100%;
    padding-top: 40px;
}
.content_see_more_button{
    width: 176px;
    height: 40px;
    border: 1px solid #108ee9;
    font-size: 16px;
    color: #108ee9;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
    cursor: pointer;
}
.content_left_list_li{
    color: #fff !important;
    background: #3488ea !important;
}
/* 右侧 */
.content_right{
    width: 290px;
    display: inline-block;
    float: right;
    padding-top: 40px;
    padding-right: 40px;
    background: #fff;
}
.new_look{
    margin-bottom: 30px;
    text-align: center;
    width: 333px;
}
.new_look_bottom{
    width: 100%;
}
.newLook_txt p{
    width:286px;
    font-size:13px;
    color: #333;
    line-height:24px;
    margin: 0 auto;
}
.new_look_bottom img{
    width: 286px;
    margin: 0 0 20px 23px;
}
.newLook_img1{
    margin-top: 20px !important;
}
.new_look{
    margin-bottom: 30px;
}

.new_look_h4_span{
    height: 16px;
}
.new_look{
    width: 296px;
}
/* title */
.new_look_h4{
    width: 290px;
    margin: -15px auto 0;
    height: 54px;
    line-height: 54px;
    font-size: 24px;
    color: #333;
}
.new_look_h4 h4{
    font-weight: 500;
    width: 150px;
    overflow: hidden;
    font-size: 24px;
    color: #333;
    float: left;
    text-align: left;
}
.new_look_h4_span{
    display: inline-block;
    height: 24px;
    width: 3px;
    background: #ec282e;
    margin-right: 14px;
    border-radius: 4px;
    float: left;
    margin-top: 17px;

}
/* ul */
.new_look_ul{
    width: 100%;
}
.new_look_ul_li {
    width: 290px;
    height: 70px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.new_look_divRight{
    width: 172px;
    float: left;
    margin-left: 18px;
}
.new_look_ul_li:hover .new_look_divRight_p1{
    color:#ec282e;
}
.new_look_ul a:nth-of-type(1) .new_look_ul_li {
    border:none;
}

.new_look_divLeft {
    width: 100px;
    position: relative;
    height: 70px;
    display: inline-block;
    float: left;
}

.new_look_divLeft_box {
    width: 100px;
    height: 70px;
    overflow: hidden;
}
.new_look_divLeft_img{
    width: 100%;
    height: 100%;
}
.new_look_ul_li:hover .new_look_divLeft_img{
    width: 120px;
    height: 84px;
    margin: -7px 0 0 -10px;
}
.new_look_divRight_p1 {
    height: 42px;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}

.new_look_divRight_p2 {
    font-size: 12px;
    color: #999;
    margin-top: 8px;
    text-align: left;
}
.new_look_divRight_p2 span:nth-child(2) {
    padding-left: 15px;
}

/* left nav */
.content_nav{
    width: 100%;
    height: 36px;
    overflow: hidden;
    margin: 20px 0;
}
.content_nav_span{
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 36px;
    font-size: 14px;
    color: #333;
    background: #efefef;
    text-align: center;
    margin-right: 20px;
}
.content_nav_span1{
    color: #fff;
    background: #ec282e;
}
.content_nav_span:hover{
    color: #fff;
    background: #ec282e;
}
.content_nav>a{
    margin-right: 20px;
    display: inline-block;
    height: 100%;
    width: 90px;
    overflow: hidden;
    border-radius: 5px;
}
.content_nav>a:nth-last-of-type(1){
    margin-right: 0px;
}
.iconfont1{
    margin-left: 20px;
    font-size: 16px;
}
.iconfont2{
    font-size: 22px !important;
    margin-right: -3px;
    font-weight: 500;
}
/*页码*/
.page{
    width: 100%;
    height: 128px;
    overflow: hidden;
}
.page_box,.page_box_ul{
    width: 473px;
    height: 38px;
    margin: 0 auto;
}
.page_box{
    margin-top: 40px;
}
.page_box_li{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: relative;
    border: 1px solid #bfbfbf;
    float: left;
    margin-right: 12px;
    text-align: center;
    line-height: 34px;
    overflow: hidden;
}
.page_box_ul a:nth-last-of-type(1) .page_box_li{
    margin-right: 0;
}
.page_box_li_span{
    font-size: 16px;
    color: #666;
    position: relative;
    z-index: 2;
}
.page_box_li_div{
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    z-index: 1;
    border-radius: 50%;
    transition: all .4s;
}
.page_box_li:hover{
    border: 1px solid #ec282e;
}
.page_box_li:hover .page_box_li_span{
    color: #fff;
}
.page_box_li:hover .page_box_li_div{
    width: 34px;
    height: 34px;
    top: 0;
    left: 0;
    background: #ec282e;
}
